:root {
    --words: center;
    --word-color: aqua;
}

/* Allows me to pull code over and over again from the root source */
.backdrop {
    background-color: black;
}

/* Turned the background black */
.header-tags {
    display: flex;
    justify-content: center;
    color: var(--word-color);
}

/* Going to use to make this header change colors*/
/* .Welcome {
    display: flex;
    justify-content: var(--words);

} */

/* Displayed my buttons in the middle of my header and going up and down.  */
h1 {
    display: flex;
    justify-content: var(--words);
    color: var(--word-color);
}

/*  */
h2 {
    display: flex;
    justify-content: var(--words);
    color: var(--word-color);
}

.Bottom {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.Completed {
    display: flex;
    justify-content: var(--words);
    text-decoration: underline;
}

.Card {
    display: flex;
    justify-content: var(--words);
    outline-color: white;
    outline-style: dotted;
    padding: 50px;
    border-radius: 60%;
}

.card-content {
    text-align: var(--words);
    color: var(--word-color);
}

footer {
    text-align: var(--words);
    color: var(--word-color);
}