:root {
    --words: center;
    --word-color: greenyellow;
    --about-me: orange;
}

/* Allows me to pull code over and over again from the root source */
.backdrop {
    background-color: black;
}

/* Turned the background black */
.header-tags {
    display: flex;
    justify-content: center;
    color: var(--word-color);
}

.header-one {
    text-align: center;
}


.about-me {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    color: var(--about-me);
    background-color: white;
}

.Coverletter {
    display: flex;
    justify-content: center;
    color: var(--about-me);
}

.work {}

img {
    display: inline-flex;
    width: 180px;
    height: 180px;
}

/* Going to use to make this header change colors*/
/* .Welcome {
    display: flex;
    justify-content: var(--words);

} */

/* Displayed my buttons in the middle of my header and going up and down.  */
h1 {
    display: flex;
    justify-content: var(--words);
    color: var(--word-color);
}

/*  */
h2 {
    display: flex;
    justify-content: var(--words);
    color: var(--word-color);
}

button {
    border-radius: 50%;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: ;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: greenyellow;
    transition-duration: 0.3s;
}

button:hover {
    background-color: white;
}

.Bottom {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.Completed {
    display: flex;
    justify-content: var(--words);
    text-decoration: underline;
}

.Card {
    display: flex;
    justify-content: var(--words);
    outline-color: white;
    outline-style: dotted;
    padding: 50px;
    border-radius: 60%;
}

.card-content {
    text-align: var(--words);
    color: var(--word-color);
}

footer {
    text-align: var(--words);
    color: var(--word-color);
}